<div class="container">
  <div class="d-flex justify-content-center align-items-cente">
    <span class="mr-3">總金額：</span>
    <h1 class="text-center total-amount" style="color:lightblue">{{totalAmount}}
    </h1>
  </div>
</div>
<div class="container">
  <form name="filter-category" method="GET" action="/record">
    <div class="container">
      <div class="row justify-content-cente">
        <div class="col-4">
          <!-- 月份 -->
          <div class="filter-months">
            <input type="date" name="startDate" class="form-control" id="startDate" value="{{startDate}}">

            <input type="date" name="endDate" class="form-control" id="endDate" value="{{endDate}}">
          </div>
        </div>
        <div class="col-4">
          <div class="filter-category mb-4">
            <select class="form-control" id="filter-category" name="filter">
              <option>類別</option>
              <option value="餐飲食品">餐飲食品</option>
              <option value="休閒娛樂">休閒娛樂</option>
              <option value="家居物業">家居物業</option>
              <option value="交通出行">交通出行</option>
              <option value="其他">其他</option>
              <option value="">全部支出</option>
            </select>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" type="submit" class="btn mt-3"> 送出
        </button>
      </div>
  </form>
</div>

<div class="container mt-3">
  <ul class="list-group list-group-flush">
    {{#each record}}
    <li class="list-group-item">
      <div class="row">
        <div class="row col-10 mr-auto ">
          <span class="col-1 align-items-center" style="font-size: 16px">{{{this.icon}}}</span>
          <div class="col-11 d-flex ml-0 align-items-center justify-content-between ">
            <h3>{{this.name}}</h3>
            <h3>{{this.amount}}</h3>
          </div>
          <br>
          <span class="col-1"></span>
          <span class="col-3 date text-muted">{{this.date}}</span>
        </div>
        <div class="col-auto mr-auto">
          <a class="btn btn-success" href="/record/{{ this._id }}/edit">修改</a>
          <form action="./record/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"
            onsubmit="return confirm('確定要刪除嗎？')">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="text-center mt-3">
    <a class="btn btn-outline-success" href="/record/new">新增支出</a>
  </div>
</div>
</div>